body{
    background-color:rgb(107, 101, 101);

}
.starpoint{
    width:70%;
    margin:auto;
    text-align: center;
}
h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: #4ECCA3;
  }
  p{
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  .dice{
      display:inline-block;
      text-align: center;
  }